#fix_menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: url('images/texture_menu.jpg');
  box-shadow: 1px 1px 10px rgba(#000, 0.3);
  z-index: 5;
  height: 90px;
  transform: translateY(-120%);
  transition: transform 0.3s ease;

  &.opened {
    transform: translateY(0);
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    position: relative;
  }

  .logo {
    position: absolute;
    left: 15px;
  }

  nav {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 55px;
    left: 130px;
    width: calc(100% - 200px);

    a {
      color: #1d1d1d;
      font-size: 15px;
      text-transform: uppercase;
      text-decoration: none;
    }

    @media (min-width: 1170px) {
      width: 900px;
      top: 42px;

      a {
        background: url('images/dot_button.png') no-repeat 3% 47%, url('images/dot_button.png') no-repeat 97% 47%, url('images/texture_button.jpg');
        padding: 13px 30px;
        color: #fff;
        border-radius: 15px;
        font-size: 12px;
      }
    }
  }

  .lang {
    position: absolute;
    top: 15px;
    right: 15px;

    a {
      padding-left: 10px;
      padding-right: 10px;
      text-decoration: none;
      color: #1d1d1d;
      display: inline;
    }
  }

  .social {
    position: absolute;
    top: 12px;
    right: 160px;

    a {
      padding-left: 9px;
      padding-right: 8px;
    }

    @media (min-width: 1170px) {
      top: 50px;
      right: 15px;
    }
  }

  .num {
    position: absolute;
    left: 137px;
    top: 5px;
    padding: 5px 15px;
    color: #1d1d1d;
    font-size: 18px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    img {
      vertical-align: middle;
      margin-right: 15px;
    }
  }

  @media (max-width: 750px) {
    display: none;
  }
}
