#menu_rest {
  background: url('images/texture_about.jpg');
  text-align: center;
  padding-top: 50px;
  padding-bottom: 100px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;

  .container {
    @media (min-width: 970px) {
      width: 800px;
    }
  }

  h2 {
    text-transform: uppercase;
    color: #5c2800;
    padding-bottom: 60px;
    font-size: 35px;
  }

  .button {
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
    display: block;
    margin: 95px auto 0;
    width: 250px;
    background: url('images/dot_button.png') no-repeat 3% 47%, url('images/dot_button.png') no-repeat 97% 47%, url('images/texture_button.jpg');
    padding: 13px 40px;
    color: #fff;
    border-radius: 25px;
    border: 3px solid #eecf95;
  }

  .sl_menu {
    .slide {
      position: relative;
      overflow: hidden;
      border-radius: 15px;

      img {
        width: 100%;
      }

      h3 {
        padding-top: 35px;
        padding-bottom: 30px;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        position: absolute;
        color: #5c2800;
        font-size: 20px;
        bottom: 0;
        background: url('images/shape.png');
      }
    }
  }

  .slick-prev {
    left: 0;
    z-index: 2;
    width: 56px;
    height: 62px;
    background: url('images/left_arr_menu.png') no-repeat center center;
    opacity: 0.8;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 1;
    }

    &::before {
      content: '';
    }
  }

  .slick-next {
    right: 0;
    width: 56px;
    height: 62px;
    background: url('images/right_arr_menu.png') no-repeat center center;
    opacity: 0.8;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 1;
    }

    &::before {
      content: '';
    }
  }

  .slick-dots {
    width: 341px;
    height: 37px;
    background: url("images/shape_menu_rest_list.png") no-repeat 0 -10px;
    padding-top: 5px;
    bottom: -37px;
    left: 50%;
    transform: translateX(-50%);

    li {
      width: 22px;
      height: 22px;
      margin-left: 4px;
      margin-right: 4px;

      &.slick-active {
        button {
          width: 17px;
          height: 18px;

          &::before {
            content: '';
            width: 17px;
            height: 18px;
            background: url('images/dot_shape.png');
            border-radius: 50%;
            opacity: 1;
          }
        }
      }

      button {
        width: 22px;
        height: 22px;

        &::before {
          content: '';
          width: 22px;
          height: 22px;
          background: url('images/dot_interior.png') no-repeat center center;
          opacity: 1;
        }
      }
    }
  }
}
